/* CONTROL */
.control {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 10%;
  align-items: center;
}
.play {
  width: 20px;
  height: 20px;
  background-color: tomato;
}
.pause {
  width: 20px;
  height: 20px;
  background-color: tomato;
}
.reset {
  width: 20px;
  height: 20px;
  background-color: tomato;
}
