/* SCREEN */
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
  height: 40%;
  margin-top: 20px;
  border: 7px solid #13353a;
  border-radius: 50px;
  h2 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
.timer {
  font-size: 80px;
  p {
    font-family: 'digital-clock-font';
    height: 80px;
  }
}
